

.conteneurheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 05% 0% 05% 05%; 
    gap: 9rem;}


.conteneurimageheader{
    margin-right: 20%;
    display: flex;
    flex-direction: row;   
   }
.conteneurimageheader img{
   transition: .5s all ease-in-out;
}
/*setting the animation on the pic header at the left*/
/*to be honest, i don t know how to do it! i just took the code on google!!*/

.conteneurimageheader img:hover{
   filter: grayscale(100%) brightness(70%) sepia(50%) hue-rotate(-100deg) saturate(500%) contrast(1);
}
 .conteneurmenuheader{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    
 } 

 .conteneurmenuheader a{
    text-decoration: none;
    color: white;
    cursor: pointer;
 }

 /* putting the highlight white when cursor is on the menu text     */
 .conteneurmenuheader a:hover {
   text-decoration: underline;
   color:white;
 }