.popup{background-color: var(--blancfonce);width:
    200px;height: 150px;text-align: center;top: 0;left: 50%;
    border-radius: 30px;border-color: rgb(64, 12, 112);
    transform: scale(0.1);
    visibility: hidden;
    transition: transform 0.4s top 0.4s ;
    transform: translate(-50%,-50%);
 }
 
 
 
 .popup img{width: 70px; top: 0%;left: 35%;
 position: absolute;}
 
 .popup h5{  padding-top: 70px;color: rgb(6, 2, 10);}
 .popup p{
   color: rgb(13, 2, 16);font-size: 12px;
 }
 
 .popup button{ width: 150px;background-color: rgba(154, 18, 212, 0.715);}
 
 
 
 .open-popup{
   transform: scale(1);
   visibility: visible;
   top:50%
 }
 